{% load static %}
<!-- Gallery Slider Section -->
<section class="gallery-slider-section">
    <div class="gallery-slider">
        <div class="gallery-slides" id="gallerySlides">
            <!-- Slide 1 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide1.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 2 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide2.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 3 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide3.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 4 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide4.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 5 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide5.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 6 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide6.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 7 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide7.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 8 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide8.svg' %}" alt="Agricultural Product">
            </div>
            
            <!-- Slide 9 -->
            <div class="gallery-slide">
                <img src="{% static 'images/gallery/slide9.svg' %}" alt="Agricultural Product">
            </div>
        </div>
        
        <!-- Navigation Dots -->
        <div class="gallery-nav" id="galleryNav"></div>
        
        <!-- Navigation Arrows -->
        <div class="gallery-prev" id="galleryPrev">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="gallery-next" id="galleryNext">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</section>
